.cabecalho{ /*tag header*/
    background-color: var(--cor-fundo);
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.125em;

}
.cabecalho_container{ /*tag div*/
    display: flex;
    align-items: center;
}
.cabecalho_menu-hamburguer{ /*tag span dentro da tag div*/
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho_link{
    padding: 0.5em;
}


@media(min-width: 1024px) and (max-width: 1727px){
    .cabecalho_menu-hamburguer{
        width: 0%;
        height: 0%;
    }
}

@media(min-width: 1728px){
    .cabecalho_menu-hamburguer{
        width: 0%;
        height: 0%;
    }
}