.cabecalho{ /*tag header*/
    background-color: var(--cor-cabecalho);
    display: flex;    
    justify-content: space-between;
    align-items: center;
    padding: 24px 18px;
}
.cabecalho_container{ /*tag div*/
    display: flex;
    align-items: center;
}
.cabecalho_menu-hamburguer{
    background-image: url(../assets/Menu.svg);
    display: inline-block;
    width: 40px;
    height: 40px;
}
