.topicos{
    display: flex;
    flex-direction: column;
    background: var(--azul-degrade);
    padding: 1em;
}
.topicos_titulo{
    font-family: var(--font-1);
    text-align: center;
    text-transform: uppercase;
    font-style: none;
    font-size: 1rem;
    font-weight: 300;
    color: var(--cor-branco);
}

.topicos_grupo{ /*flex blox botões*/
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
    justify-content: space-evenly;
}

.topicos_grupo_botoes{ /*configuracao dos botoes*/
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--cor-branco);
    font-family: var(--font-1);
    padding: 1em 1.5em;
    background-color: var(--cor-laranja);
}